.header {
  align-items: center;
  background-color: #444444;
  color: grey;
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: space-between;
  margin: 0px;
  padding: 20px;
}

.header div {
  border: 5px solid red;
  margin: 0 10px;
}


.header img {
  max-width: 200px;
  max-height: 70px;
}

.hero {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
